<h3>Event Details Screen </h3>
<hr>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Event Type: public </p>
            <p>host: John Doe</p>
            <P> Title: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt reiciendis maiores ipsum, eaque cum nihil.</P>
      <p>Description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea tempore corrupti quidem neque consequatur laboriosam rerum molestias laudantium doloribus
           reprehenderit aspernatur itaque voluptates, inventore ex nam dolor consequuntur. Ea, dolor.</p>
           <p>Start Date & Time Date : 22nd June 2021    &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  End Date & Time Date : 22nd June 2021 </p>

            <p>User's Joined:  </p>  
            <figure class="figure ml-5" >
                <img src="https://picsum.photos/80" class="figure-img img-fluid rounded-circle" alt="">
                <figcaption class="figure-caption"> John Doe </figcaption>
              </figure> 
              <figure class="figure ml-5">
                <img src="https://picsum.photos/80" class="figure-img img-fluid rounded-circle" alt="">
                <figcaption class="figure-caption"> John Doe </figcaption>
              </figure>
              <figure class="figure ml-5">
                <img src="https://picsum.photos/80" class="figure-img img-fluid rounded-circle" alt="">
                <figcaption class="figure-caption"> John Doe </figcaption>
              </figure>
              <figure class="figure ml-5">
                <img src="https://picsum.photos/80" class="figure-img img-fluid rounded-circle" alt="">
                <figcaption class="figure-caption"> John Doe </figcaption>
              </figure>
              <br> <br> 
            <button type="button"  routerLink="/admin/events" class="btn btn-secondary">back</button>
        </div>
    </div>
</div>

