


<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="createEventForm" (ngSubmit)="onCreateEvent()" *ngIf="createEventForm" class="creat-event">
            <h3>Create Event</h3>
            <p>please provide following details to create a event</p>
           


            <div class="form-group">
                <label for="exampleInputPassword1"> Event Title </label>
                <input type="text" name="event_title" formControlName="event_title" class="form-control" id="exampleInputPassword1" placeholder="Event Title" >
                
                <app-validation-message [control]="createEventForm.controls['event_title']" [messages]="messageList.event_title">
                </app-validation-message>
           
            </div>


            <div class="form-group mb-5 mt-4">
                <div class="upload_box">
                    <img class="upload-img" src="../../../../assets/img/upload.svg" />
                    <input type="file" class="form-control" id="exampleInputPassword2" placeholder=" ">
                </div>
                <label class="upload-title" for="exampleInputPassword2">  </label>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">   </label>
                        <input type="date" name="start_date" formControlName="start_date" class="form-control" id="exampleInputPassword1" placeholder=" ">
                        <app-validation-message [control]="createEventForm.controls['start_date']" [messages]="messageList.start_date">
                        </app-validation-message>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">  </label>
                        <input type="date" name="end_date" formControlName="end_date" class="form-control" id="exampleInputPassword1" placeholder="">
                        <app-validation-message [control]="createEventForm.controls['end_date']" [messages]="messageList.end_date">
                        </app-validation-message>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">  </label>
                        <input type="time" name="start_time" formControlName="start_time" class="form-control" id="exampleInputPassword1" placeholder=" ">
                        <app-validation-message [control]="createEventForm.controls['start_time']" [messages]="messageList.start_time">
                        </app-validation-message>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1"> </label>
                        <input type="time" name="end_time" formControlName="end_time" class="form-control" id="exampleInputPassword1" placeholder="">
                        <app-validation-message [control]="createEventForm.controls['end_time']" [messages]="messageList.end_time">
                        </app-validation-message>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1"> </label>
                <input type="text" name="description" formControlName="description" class="form-control" id="exampleInputPassword1" placeholder="Description ">
                <app-validation-message [control]="createEventForm.controls['description']" [messages]="messageList.description">
                </app-validation-message>
            </div>
            
            <button type="submit" class="btn btn-success">Save </button>   &nbsp;  &nbsp; &nbsp;  <button type="submit" class="btn btn-success">Cancel  </button>

        </form>
    </div>
</div>
