
<div class="modal-body register-form">
    <form *ngIf="forgotForm" [formGroup]="forgotForm" (ngSubmit)="onForgotPassword()">
   
        <div class="row">

           
            <div class="col-lg-12">
                <h4 class="modal-title pull-left">Forgot Password</h4>
                <p>To reset your password enter your registered email id
                    </p>
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="email"
                            placeholder="Enter Email" >
                        <label>Email Id</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="forgotForm.controls['email']"
                            [messages]="messageList.email">
                        </app-validation-message>
                    </div>
                </div>

                <div class="btn_group">
                    <button type="submit" class="dark-green" >Proceed</button>
                    <button type="button" class="disable-btn-green" routerLink="">Back to Login</button>
                   
                </div>

            </div>
        </div>
        
       
    </form>
</div>