<header *ngIf="!isVerifiedUser" class="header_Sec">
  <div class="header-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/top_logo.svg" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><img src="../../../assets/img/menu.png"
          /></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Why Paymish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Businesses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Become an Agent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>
          <div class="form-inline login-signup" (click)="login()">
            Login/Register
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- this is after login header section start -->
<header *ngIf="isVerifiedUser" class="header_Sec bg-header">
  <div class="header-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../../../../../assets/img/logo-color.svg"
        /></a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><img src="../../../assets/img/menu.png"
          /></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="login-box">
            <ul>
              <li>
                <div class="notification">
                  <img src="../../../../assets/img/notification.svg" />
                  <span>2</span>
                </div>
              </li>
              <li>
                <div class="wallet-balance">
                  <img src="../../../../assets/img/wollet.svg" />
                  <span>$ 9,750</span>
                  <p>Wallet Balance</p>
                </div>
              </li>
              <li [routerLink]="['/profile']" style="cursor: pointer">
                <div class="user">
                  <img
                    *ngIf="!userImage"
                    class="user-circle"
                    src="{{
                      user.profilePicture
                        ? user.profilePicture
                        : '../../../../assets/img/user.svg'
                    }}"
                  />
                  <img class="user-circle" *ngIf="userImage" src="{{ userImage }}" />
                  <p>{{ user.firstName + " " + user.lastName | titlecase }}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- this is after login header section start -->
